#root {
  //width: calc(100% - 2rem);
  padding: 1rem;

  width: 385px;
  height: 564px;
}

main {
  height: 100%;

  a,
  a:hover {
    color: white;
  }
}

div.add-button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--mantine-color-blue-filled);
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1rem;

  &:hover {
    background-color: var(--mantine-primary-color-filled-hover);
  }

  &::before,
  &::after {
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: silver;
  }

  &::after {
    transform-origin: center;
    transform: rotate(90deg) translateY(1px);
  }
}

div.app-logo {
  margin-top: 10%;
  padding: 0 18vw;
  display: flex;
  justify-content: center;
}

div.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  margin-bottom: 15%;
}

section.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -10%;

  h3 {
    margin: 0;
    margin-right: 0.5rem;
    color: #c9c9c9;
  }

  i {
    cursor: pointer;
    color: #ff5153;
    transition: all .1s;

    &:hover {
      color: darken($color: #ff5153, $amount: 5%);
    }
  }
}

i.icon-button {
  padding: 8px;

  &:hover {
    background-color: #2e2e2e;
    border-radius: 5px;
    cursor: pointer;
  }

  &.infield {
    
    padding: 6px;

    &:hover {
      background-color: #404243;
    }
  }
}